@mixin widgetSize ($x, $y) {
	&.size-#{$x}x#{$y} {
		width: calc(100% / 16 * #{$x});
		height: calc(100% / 9 * #{$y});
	}
}

@mixin widgetPosition ($x, $y) {
  @for $xi from 1 through $x {
    @for $yi from 1 through $y {
      &.position-#{$xi}-#{$yi} {
        transform: translate($xi * 120px, $yi * 120px);
      }
    }
  }
}