extends layout

block head
  - var title='Home'

block content

  header.page-header
    h1 Smart Mirror Backend

  main

    section.row

      div.col-sm-offset-3.col-sm-3
        h1 Users
        p Anlegen, Bearbeiten und Löschen von Usern und deren Einstellungen
        a(href="users").btn.btn-primary User-Einstellungen

      div.col-sm-3
        h1 Modules
        p Herunterladen, Updaten und Löschen von Modulen
        a(href="modules").btn.btn-primary Modul-Einstellungen

    section.row

      div.col-sm-offset-3.col-sm-3
        h1 Widgets
        p Erstellen, Bearbeiten und Löschen von Widgets
        a(href="widgets").btn.btn-primary Widget-Einstellungen

      div.col-sm-3
        h1 Interface
        p Konfiguration des Spiegel Interfaces
        a(href="interface").btn.btn-primary Interface-Einstellungen

    section.row

      div.col-sm-offset-3.col-sm-3
        h1 Sensoren
        p Anzeige der für Albert verfügbaren Sensoren
        a(href="#").btn.btn-primary Sensor-Einstellungen

      div.col-sm-3
        h1 Systemsettings
        p Allgemeine System- und WLAN Einstellungen
        a(href="system").btn.btn-primary System-Einstellungen


