extends layout

block vars
  - var title='Home'

block content

  header.page-header
    h1 Smart Mirror Backend

  section#users
    h1 Users
    a(href="users") Users

  section#modules
    h1 Modules
    a(href="modules") Module

  section#widgets
    h1 Widgets
    a(href="widgets") Widgets

  section#sensors
    h1 Sensors
    p ToDo

  section#system
    h1 Systemsettings
    a(href="settings") Systemsettings


