extends layout

block head
  - var title='Home'

block content

  header.page-header
    h1 Smart Mirror Backend

  main.row

    section.col-sm-4
      h1 Users
      a(href="users").btn.btn-lg.btn-primary Zu den User-Einstellungen

    section.col-sm-4
      h1 Modules
      a(href="modules").btn.btn-lg.btn-primary Zu den Modul-EinstellungenModule

    section.col-sm-4
      h1 Widgets
      a(href="widgets").btn.btn-lg.btn-primary Zu den Widget-Einstellungen

    section.col-sm-4
      h1 Sensors
      a(href="#").btn.btn-lg.btn-primary Zu den Sensor-Einstellungen

    section.col-sm-4
      h1 Systemsettings
      a(href="system").btn.btn-lg.btn-primary Zu den System-Einstellungen


