extends layout

block head
  - var title='Interface'
  link(rel='stylesheet', href='/stylesheets/angular-gridster.min.css')

block content

  header.page-header
    h2 Interface Konfigurator

  section.col-sm-12
    header
      h2 Widgets


    if widgets.length == 0
      h2 No widgets
    else
      div.widgets.droparea
        each widget in widgets
          div(id=widget._id draggable="true" data-size=widget.size).widget=widget.name
        div(draggable="true" data-size="4x4")#asdfasdf.widget big one

    section
      header
        h2 Interface
      div.interface.droparea


block footer
  script(src='/javascripts/interface.js')
