extends layout

block vars
  - var title='Interface'

block content

  header.page-header
    h2 Interface Konfigurator

  section.col-sm-4
    header
      h2 Widgets

    if widgets.length == 0
      h2 No widgets
    else
      each widget in widgets
        div(draggable="true").row.alert.alert-info
          img(src="http://www.placehold.it/150x150?text=" + widget.name, alt="widget.name").col-sm-4
          strong.col-sm-8=widget.name

  section.col-sm-8
    header
      h2 Interface
