extends layout

block head
  - var title='Interface'
  link(rel='stylesheet', href='/stylesheets/angular-gridster.min.css')

block content

  header.page-header
    h2 Interface Konfigurator

  section.col-sm-12
    p Wählen sie den User aus, dessen Interface sie konfigurieren möchten

    form(action="/interface" method="POST")
      div.form-group
        label(for="user") User

        select(name="user")#user.form-control
          each user in users
            option(value=user._id)= user.username

      button(type="submit").btn.btn-primary Interface laden

block footer
  script(src='/javascripts/interface.js')
