doctype html
block vars
html
  head
    title Smartmirror - #{title}
    link(rel='stylesheet', href='/stylesheets/backend.css')
  body

    nav.navbar.navbar-default.navbar-fixed-top
      div.container-fluid
        a(href='/').navbar-brand
          img(src='/images/logo.png' alt='SmartMirror').nav-logo
        ul.nav.navbar-nav.navbar-right
          li.nav-item(class=title === 'Home' ? 'active' : '')
            a(href='/').nav-link Home
          li
          each value, key in {modules: 'Modules', widgets: 'Widgets', users: 'Users', sensors: 'Sensors',settings: 'Settings'}
            li.nav-item(class=title === value ? 'active' : '')
              a(href='/#{key}').nav-link=value

    div.container
      block content
