doctype html

html(ng-app='gridModule')
  head
    block head
    title Smartmirror - #{title}
    link(rel='stylesheet', href='/stylesheets/backend.css')

    style.
      #moduleGrid {
        background-color: #000000;
      }
      #mirrorGrid {
        background-color: #C2BCBF;
      }
      .gridster .gridster-item  {
      background-color: #EFEFEF;
      color: #004756;
      -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
      -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      color: #004756;
      padding: 10px;
      }
  body

    nav.navbar.navbar-default.navbar-fixed-top
      div.container-fluid
        a(href='/').navbar-brand
          img(src='/images/logo.png' alt='SmartMirror').nav-logo
        ul.nav.navbar-nav.navbar-right
          li.nav-item(class=title === 'Home' ? 'active' : '')
            a(href='/').nav-link Home
          li
          each value, key in {modules: 'Modules', widgets: 'Widgets', users: 'Users', sensors: 'Sensors',settings: 'Settings'}
            li.nav-item(class=title === value ? 'active' : '')
              a(href='/#{key}').nav-link=value

    div.container
      block content

  block footer
