doctype html

html
  head
    block head
    title Smart Mirror - #{title}
    link(rel='stylesheet', href='/stylesheets/backend.css')

  body

    nav.navbar.navbar-default
      div.container

        div.navbar-header
          a(href='/').navbar-brand
            img(src='/images/logo.png' alt='SmartMirror').nav-logo

          h2.heading Smart Mirror

          button.navbar-toggle
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar

        div.navbar-collapse.collapse.collapsed
          ul.nav.navbar-nav.navbar-right
            li.nav-item(class=title === 'Home' ? 'active' : '')
              a(href='/').nav-link Home
            li
            -
              nav = {
                modules: 'Modules',
                widgets: 'Widgets',
                interface: 'Interface',
                users: 'Users',
                sensors: 'Sensors',
                gesture_interface: 'Gesten',
                system: 'System'
              }
            each value, key in nav
              li.nav-item(class=title === value ? 'active' : '')
                a(href='/#{key}').nav-link=value

    div.container.content-container
      block content

  block footer
  script(src='/javascripts/backend.js')