extends layout

block vars
  - var title='Home'

block content

  header.page-header
    h1 Moduleübersicht

  section.col-sm-12
    h2 Github Module installieren

    form(action="modules/details" method="POST")

      label(for="owner") Owner
      div.input-group
        span#owern.input-group-addon Owner
        input(type="text" name="owner" placeholder="Owner")#owner.form-control

      label(for="repo") Repo
      div.input-group
        span#owner.input-group-addon Repository
        input(type="text" name="repo" placeholder="Repo")#repo.form-control

      br

      button(type="submit").btn.btn-primary Laden

  section.col-sm-12
    h2 Installierte Module

    if modules.length == 0
      h2 No Modules
    else
      table.table
        thead
          tr
            th Module
            th Description
            th Version
            th Link

        tbody
          each module in modules
            tr
              td
                strong=module.name
              td
                p=module.description
              td
                time=module.version
              td
                a(href=module.url) Info
