body {
  background-color: $blue;
}

.content-container {
  margin-top: 120px;
  margin-bottom: 70px;
  background-color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 4px;
}

.page-header {
	text-align: center;
}

input[type="radio"],
input[type="checkbox"] {
	left: 20px;
}

body {
  background-color: $blue;
}

.alert {
  padding: 15px;
}

.disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
  * {
    cursor: inherit;
  }
}

.btn {
  margin-right: 15px;
}

