extends layout

block content
  h1=title
  h2=user
  p Welcome to #{title}

  form(action="/users/new" method="post")
    label(for="name") Name:
    input(type="text" name="name")
    br

    label(for="bdate") Geburtstag:
    input(type="text" name="bdate")
    br

    label(for="theme") Theme:
    select(name="theme")
      option(value="theme1") Theme1
      option(value="theme2") Theme2
    br

    label(for="active") Aktiv:
    input(type="checkbox" name="active" value="true" checked)
    br

    button(type="submit") Speichern
