extends layout

block content
  header
    h1 Moduleübersicht

  section
    h2 Github Module installieren
    form(action="modules/details" method="POST")
      label(for="owner") Owner
      input(type="text" name="owner" id="owner" placeholder="Owner")

      label(for="repo") Repo
      input(type="text" name="repo" id="repo" placeholder="Repo")

      button(type="submit") Laden

  section
    h2 Installierte Module


    if modules.length == 0
      h2 No Modules
    else
      table
        thead
          tr
            th Module
            th Description
            th Version
            th Link

        tbody
          each module in modules
            tr
              td
                strong=module.name
              td
                p=module.description
              td
                time=module.version
              td
                a(href=module.url) Info
