doctype html
html(lang="en")
  head
    link(rel='stylesheet', href='/stylesheets/backend.css')
    title Error - Site not Found
  body

    div.container
      div.col-lg-8.col-lg-offset-2
        header.text-center
          h1 Error
          //- OPPS, Error 404 !
        article
          p= message
          br

          small.text-muted= err
          br

          a(href="/").btn.btn-primary Return Dashboard