doctype html
html(lang="en")
  head
    link(rel='stylesheet', href='/stylesheets/backend.css')
    title Error - Site not Found
  body

    div.container
      div.col-lg-8.col-lg-offset-2
        header.text-center
          h1= title
          //- OPPS, Error 404 !
        article
          p The requested Site at #{descr} was not found!
          br

          small.text-muted Theere is some error here, Please try later.
          br

          a(href="/").btn.btn-primary Return Dashboard